azure_learning/pipeline/pl_execute_pipeline.json
{
	"name": "pl_execute_pipeline",
	"properties": {
		"activities": [
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_pipeline8",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Execute Pipeline1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "file_list",
					"value": {
						"value": "@activity('Execute Pipeline1').output.pipelineReturnValue.FileList",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"file_list": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "session2"
		},
		"annotations": []
	}
}