azure_learning/pipeline/pl_pipeline8.json
{
	"name": "pl_pipeline8",
	"properties": {
		"activities": [
			{
				"name": "act_metadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "adf_input_dataset_metadata",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "act_for_each",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "act_metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('act_metadata').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "act_segregate_types",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().type,'Folder') ",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "act_append_fileName",
										"type": "AppendVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "FileList",
											"value": {
												"value": "@item().name",
												"type": "Expression"
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "act_append_folderName",
										"type": "AppendVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "FolderList",
											"value": {
												"value": "@item().name",
												"type": "Expression"
											}
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "act_folder_list",
				"type": "SetVariable",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "act_for_each",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineReturnValue",
					"value": [
						{
							"key": "return_folder_list",
							"value": {
								"type": "Expression",
								"content": "@variables('FolderList')"
							}
						}
					],
					"setSystemVariable": true
				}
			},
			{
				"name": "act_file_list",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "act_for_each",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineReturnValue",
					"value": [
						{
							"key": "return_file_list",
							"value": {
								"type": "Expression",
								"content": "@variables('FileList')"
							}
						}
					],
					"setSystemVariable": true
				}
			}
		],
		"variables": {
			"FolderList": {
				"type": "Array"
			},
			"FileList": {
				"type": "Array"
			},
			"get_folder_nams": {
				"type": "Array"
			},
			"get_file_names": {
				"type": "Array"
			},
			"file_list": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "session2"
		},
		"annotations": []
	}
}