azure_learning/pipeline/pl_pipeline6.json
{
	"name": "pl_pipeline6",
	"properties": {
		"activities": [
			{
				"name": "act_foreach_inputval",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.input_val",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "act_append_id",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "id",
								"value": {
									"value": "@item()['id']",
									"type": "Expression"
								}
							}
						},
						{
							"name": "act_append_name",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "name",
								"value": {
									"value": "@item()['name']",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "act_set_id_list",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "act_foreach_inputval",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "id_list",
					"value": {
						"value": "@variables('id')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "act_set_name_list",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "act_foreach_inputval",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "name_list",
					"value": {
						"value": "@variables('name')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"input_val": {
				"type": "array",
				"defaultValue": [
					{
						"id": "1",
						"name": "Ram Patil"
					},
					{
						"id": "2",
						"name": "Sham Patil"
					},
					{
						"id": "3",
						"name": "Kiran Jadhav"
					}
				]
			}
		},
		"variables": {
			"id": {
				"type": "Array"
			},
			"name": {
				"type": "Array"
			},
			"id_list": {
				"type": "Array"
			},
			"name_list": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}