azure_learning/pipeline/pl_pipeline3.json
{
	"name": "pl_pipeline3",
	"properties": {
		"activities": [
			{
				"name": "act_for_each_val",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.val_list",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "act_set_var_each_val",
							"type": "SetVariable",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "each_val",
								"value": {
									"value": "@item()",
									"type": "Expression"
								}
							}
						},
						{
							"name": "act_append_var",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "all_val",
								"value": {
									"value": "@if(equals(item(),'ram'),item(),'')",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "act_set_var_appendValues",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "act_for_each_val",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "all_list",
					"value": {
						"value": "@variables('all_val')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"val_list": {
				"type": "array"
			}
		},
		"variables": {
			"each_val": {
				"type": "String"
			},
			"all_val": {
				"type": "Array"
			},
			"all_list": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "session1"
		},
		"annotations": []
	}
}